:root {
  --color-primary: #a684ff;
  --color-primary-hover: #af93f8;
  --color-bg: #0F051D;
  --color-blocks-bg: rgb(255 255 255 / 5%);
  --color-text-1: #fff;
  --color-text-1-2: #8996a3;
  --color-text-2: #000;
  --color-text-2-1: #507e85;
  --color-header: #252c33;
  --color-placeholder: #ac00ca;
  --color-border: rgba(73, 183, 176, .5);
  --content-max-width: 500px;
  --blocks-radius: 12px
}
:before,:after{
  box-sizing:border-box;
  margin:0
}

@font-face{
  font-family:Inter;
  font-weight:700;
  font-style:normal;
  font-display:swap
}
@font-face{
  font-family:Inter;
  font-weight:400;
  font-style:normal;
  font-display:swap
}
@font-face{
  font-family:Inter;
  font-weight:600;
  font-style:normal;
  font-display:swap
}

.gradient-position img {
  position: fixed;
  -webkit-filter: blur(80px);
  filter: blur(80px);
}
.gradient-position {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  mix-blend-mode: overlay;
  z-index: -1;
}

body{
      min-height: 72vh;
      color:var(--color-text-1);
      background:var(--color-bg);
      font-family:Inter;
      font-size:15px;
      line-height: 140%;
      text-rendering:optimizeLegibility;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale
}
input::placeholder{
  color:var(--color-placeholder)!important;
  opacity:1
}
a{
  color:inherit;
  text-underline-offset:.2em;
  text-decoration-thickness:1px
}

.content{
    padding:0 8px 28px;
  max-width:var(--content-max-width);
  box-sizing:unset;
  margin:0 auto;
}
.heading{
  color:var(--color-text-1);
  font-weight:700;
  font-size:24px;
  line-height:32px
}
.heading__container{
  padding: 14px 32px;
  text-align:center
}
.block-heading{
    font-weight:700;
    font-size:20px;
    line-height:28px;
    color:var(--color-text-1);
    padding:24px 0 8px;
    margin:0 20px;
    display:flex;
    align-items:center;
    gap:8px
}       
.block-heading__counter{color:var(--color-text-1-2)}
.block-heading__icon{cursor:pointer}.button{background: #000;border:none;border-radius: 24px;outline:none;color:var(--color-text-1);padding: 16px 64px;cursor:pointer;font-size: 21px;line-height:24px;text-align:center;=: -.02em;position:relative;overflow:hidden;display:block;text-decoration:none;}.button:active{transform:translateY(1%)}.button:after{content:"";background:rgba(255,255,255,.1);position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;transition:opacity .3s}.button:hover:after{opacity:1}.button_outlined{background:none;border:var(--color-text-2) 1px solid;color:var(--color-text-2)}.button_small{padding:6px 12px;font-weight:400;font-size:15px;line-height:18px}.button.disabled{opacity:.2;cursor:default;pointer-events:none}
.pageContainer{
    position:relative;
}
.pageContainer:after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background:#000;
  transition:all .3s ease;
  pointer-events:none
}
.pageContainer.bottomPopupShowed:after{
  opacity:.5;
  pointer-events:auto
}

.connect-wallet{
  background:var(--color-primary);
  color:var(--color-text-1);
  border:none;
  border-radius:40px;
  display:flex;
  align-items:center;
  letter-spacing:-.02em;
  padding:6px 16px 6px 10px;
  cursor:pointer;
  transition:background-color .3s
}
.connect-wallet:hover{
  background:var(--color-primary-hover)
}
.connect-wallet_logo{
  width:auto;height:24px
}
.connect-wallet_text{
  font-weight:600
}
.connect-wallet_counter{
  display:flex;
  justify-content:center;
  min-width:20px;
  font-size:13px;
  line-height:20px;
  font-weight:600;
  padding:0 4px;
  background:var(--color-text-1);
  color:var(--color-primary);
  border-radius:20px;
  margin-left:8px
}

@media (min-width: 1000px){
  .cookie-popup{
    bottom:16px
  }
}

.stake-form{
  background:var(--color-blocks-bg);
  border-radius:var(--blocks-radius);
  color: #fff;
  position:relative;
  z-index:1
}
.stake-form__button{
  margin: 4px 16px 4px;
}
@media (min-width: 1000px){
  .stake-form__button{
    margin:4px 20px 0
  }
}
.stake-form__input{
  padding: 20px 0 12px;
  display:flex;
  gap:8px;
  align-items:center;
  justify-content:center;
  margin:0 20px;
  flex-direction: column;
}
.stake-form__input__logo:not(.active) path{
  fill:#85c7d1
}
.stake-form__input__field{
      font-weight:600;
      height:42px;
      color: white;
      white-space:nowrap;
      overflow:hidden;
      background:none;
      border:none;
      padding:0;
      outline:none!important;
      -webkit-appearance:none;
      text-align: center;
}
.stake-form__input__field::-webkit-outer-spin-button,.stake-form__input__field::-webkit-inner-spin-button{
      -webkit-appearance:none;margin:0
}
.stake-form__container{
  display:flex;
  flex-direction:column;
  padding: 2px 0 12px;
}
@media (min-width: 1000px){
  .stake-form__according{
    margin:0 24px
  }
}
.stake-form__according__item{
  display:flex;
  justify-content:space-between;
  box-shadow:inset 0 -1px #49b7b080;
  box-sizing:border-box;
  padding:0;
  height:0;
  opacity:0;
  transition:height .5s ease,padding .5s ease,opacity .35s ease .15s;
  margin-bottom:-1px
}
.stake-form__according__item.showed{
  padding:15px 0;height:48px;opacity:1
}
.stake-form__disclaimer{
  font-size: 8px;
  line-height: 14px;
  text-align:center;
}
@media (min-width: 1000px){
  .stake-form__disclaimer{
    margin:0 24px
  }
}
@keyframes v-beatStretchDelay{
  50%{
    -webkit-transform:scale(.75);
    transform:scale(.75);
    -webkit-opacity:.2;
    opacity:.2
  }to{
    -webkit-transform:scale(1);
    transform:scale(1);-webkit-opacity:1;
    opacity:1
  }
}
.protocol-details{
  background:var(--color-blocks-bg);
  border-radius:var(--blocks-radius);
  color: #fff;
  padding:20px;
  display:flex;
  gap:12px;
  flex-direction:column
}
@media (min-width: 1000px){
  .protocol-details{
    padding:24px
  }
}
.protocol-details__row{
  display:flex;
  justify-content:space-between;
  gap:20px
}
.protocol-details__row__title{
  color: #ffffff;
}
.protocol-details__row__value{
  white-space:nowrap
}
